keepalived master and slave communication insecure issue consultation

There are two possible problems:

The communication between the master and slave Keepalived instances is not authenticated. 
Attackers can intercept, modify, and send packets to pretend that the master instance sends packets to the slave instance or pretend that the slave instance sends packets to the master instance. 
As a result, multiple masters exist in the environment, misleading the downstream switch in traffic selection. Route blackholes occur.

If auth_type is set to PASS, plaintext passwords may be saved to VMs and may be stolen by attackers.

Questions:

Does the community have any improvement suggestions for the above two problems?

I think this is probably not the right place to be discussing these points. The VRRP protocol is defined by RFCs, and keepalived is just one implementation of those RFCs.

The current version of VRRP is VRRPv3, defined by RFC5798. This version of VRRP has never supported authentication. The original version of VRRP was VRRPv2; this was originally defined in RFC2338 in 1998, and did include authentication, either with password type authenticaion or using an IP authentication header. VRRPv2 was updated in 2004 by RFC3768; part of the update was to remove authentication with the following reason given:
```
   These [authentication types] were removed in this
   specification because operational experience showed that they did not
   provide any real security and would only cause multiple masters to be
   created.
```

If an attacker is able to receive and send packets on the network over which VRRP is running then I think it is reasonable to consider that that network is highly compromised, and that there may be confusion about which system is the VRRP master should be the least of the problems to be considered. Presumably if the network is compromised to this level, then an attacker could send forged ARP packets, and thereby stop all unicast traffic on the network working.

If, alternatively, you are referring to the use of unicast for sending VRRP adverts, then since this is a keepalived proprietary, non conformant, extension to the VRRP protocol, there is no reason why you shouldn't use AH authentication.

Since there has been no further response to this issue for over three weeks I think we can close it now. Should there be subsequent interest then we can reopen the issue.