1.3.2 nopreempt not working

Hi there,

Running the latest version 1.3.2 on a RHEL 6.8 bare metal setup .
We have found that the nopreempt option is not working on a two server setup. Please find below the config used, (priority is 48 on other server)

```
vrrp_instance VI_1 {
        interface bond0
        state BACKUP
        nopreempt
        virtual_router_id 251
        priority 47     
		authentication {
            auth_type PASS
            auth_pass PASSWORD
        }
        virtual_ipaddress {
              11.16.21.170
        }
        notify_backup "/usr/local/sbin/down.sh"
        notify_master "/usr/local/sbin/up.sh"
}

```
We have also tried setting both servers to same priority,in which case the server with the highest IP always preempted to become the master. Assistance/suggestions are most welcome.


This works for me as expected.

I have copied your configuration and run with one server with priority 47 and the other priority 48 and nopreempt is working as expected. Also when I run with both servers the same priority, nopreempt is working too.

Can you run your tests again, ensuring that you have the -D and -d command line options set, and post the logs from both systems showing the nopreempt option not working.

I can confirm the scenario where `nopreempt` does not work for two `BACKUP` instances with equal priority.

This is the config for the instances:

```
vrrp_instance lbl_stg {
  interface eth0
  state BACKUP
  virtual_router_id 1
  priority 100
  nopreempt

  unicast_src_ip A.A.A.10
  unicast_peer {
    B.B.B.11
  }

  authentication {
    auth_type PASS
    auth_pass "secret"
  }

  virtual_ipaddress {
    C.C.C.12 dev eth0
  }
}
```

I stripped the IPs except for the last octet. `unicast_src_ip` and `unicast_peer` are reversed for the other instance of course.

When the instance with the higher IP comes back online, it preempts the instance with the lower IP. The instance with the lower IP logs:

```
Feb 14 17:35:39 ext1 Keepalived_vrrp[552]: VRRP_Instance(lbl_stg) Received advert with higher priority 100, ours 100
Feb 14 17:35:39 ext1 Keepalived_vrrp[552]: VRRP_Instance(lbl_stg) Entering BACKUP STATE
```

I see what is happening now.

The log message `Received advert with higher priority 100, ours 100` is generated when a vrrp instance in MASTER state receives such an advert. That means that there must be at least two instances that think they are both master, and in this case, the lower priority one MUST fall back to BACKUP state. `nopreempt` is for when a vrrp instance starts up in backup state but has a higher priority than the current master; in that case it will not take over as master.

If a vrrp instance in backup mode receives a lower priority message, it will log the message `VRRP_Instance(lbl_stg) forcing a new MASTER election`, rather than the one you are seeing.

How are you doing your testing to generate the situation you describe above? I suspect you are somehow stopping traffic passing between your two systems and so they then both become master, since neither can see the other. Once traffic starts passing again, the lower priority master reports the log message above and becomes backup. This is the expected, and required, behaviour.

For further details, see RFC5798, sections 6.4.2 and 6.4.3. The address comparison is described at (725) to (735), which is when a master receives an advertisement (and there is no mention of nopreempt). Preempt is mentioned at (445), which is when a backup router receives an advertisement, and here there is no mention of address comparison. In fact, when in backup mode, a received advert of equal priority is treated the same as receiving an advert of higher priority.

If what I have described isn't right, please provide further details so we can attempt to understand this problem further.

I checked this once again. When I simply stop and then restart keepalived, preemption does not happen. However, when I reboot the instance (keepalived service is activated once the network device is up), keepalived starts up in BACKUP state, then immediately transitions to MASTER state and then the described behavior takes place.

As you said, the instance having the higher IP logs

`Received advert with lower priority 100, ours 100, forcing new election`

I guess the "lower" priority comes from address comparison. At the same time, the instance having the lower IP logs

`Received advert with higher priority 100, ours 100`

This is the expected behavior, right? Then I'd have to investigate why the IP transitions to MASTER state although it just came up in BACKUP state and although there's already a MASTER in the group.

You say that after rebooting, the instance `immediately transitions to MASTER state`. This should occur 3 advert intervals + skew time after the instance enters BACKUP state, assuming that it is not receiving any adverts from another master.

I suspect what is happening when your system reboots is that keepalived is starting up before the networking on the system is fully operational, and hence the adverts from the real master are not being received, and this allows the rebooting system to become master. Once the systems start seeing each others' adverts you get the behaviour you describe. Are you able to delay the starting of keepalived until later in the boot process to see if that resolves the problem? If not, you could try, as a test, not starting keepalived as part of the boot process, but manually start it after the boot has completed.

You're right. I already suspected this was coming from the network not being ready yet and put a short delay between systemd's network-online.target and keepalived startup. Works as expected now -- thank you!

From my side, this issue can be closed. Have your questions also been answered @grantpullen?

Confirmed on my side as well that delayed startup of keepalived resolves the issue

@pqarmitage I'm having the same issue in 1.4.5. I'm using a [dockerized version of keepalived](https://github.com/osixia/docker-keepalived) with my own configuration. My configuration file looks like below:
```
global_defs {
  default_interface enp0s3
}

vrrp_script chk_dockerd {
        script "pidof dockerd"      # verify the pid exists
        interval 2                  # check every 2 seconds
}

vrrp_instance VI_1 {
  interface enp0s3

  state BACKUP
  virtual_router_id 51
  priority 51                   # Second node has 50 priority, everything else is same
  nopreempt
  #advert_int 1

  unicast_peer {
    192.168.8.103
  }

  virtual_ipaddress {
    192.168.8.235
  }

  authentication {
    auth_type PASS
    auth_pass d0cker
  }

  track_script {
          chk_dockerd
  }

  notify "/container/service/keepalived/assets/notify.sh"
}
```

`nopreempt` works great when docker service stops/restarts; when my network interface goes down; and when I restart the keepalived container, but when I restart the machine with 51 priority, it takes back the control from the other node(it preempts). Following your above discussion, I added a 60s delay before startup of the keepalived service inside my container but it still preempts the node with lower priority after a minute. What could possibly be wrong here? Obviosuly it isn't the network because it doesn't take that long to initialize.

I think you probably need to run tcpdump within each container from startup, starting before keepalived starts, to see what traffic is being sent and received by each container and when. It looks as though it is an issue with traffic between the containers, and it appears not to be an issue with keepalived.

@pqarmitage I got the `tcpdump` at the reboot time of the higher priority node.
```
13:13:15.805985 IP (tos 0xc0, ttl 64, id 54050, offset 0, flags [none], proto ICMP (1), length 68)
    192.168.1.89 > 192.168.1.141: ICMP 192.168.1.89 protocol 112 unreachable, length 48
	IP (tos 0xc0, ttl 255, id 370, offset 0, flags [none], proto VRRP (112), length 40)
    192.168.1.141 > 192.168.1.89: vrrp 192.168.1.141 > 192.168.1.89: VRRPv2, Advertisement, vrid 51, prio 50, authtype simple, intvl 1s, length 20, addrs: 192.168.1.238 auth "d0cker^@^@"
	0x0000:  45c0 0044 d322 0000 4001 22a0 c0a8 0159  E..D."..@."....Y
	0x0010:  c0a8 018d 0302 fcfd 0000 0000 45c0 0028  ............E..(
	0x0020:  0172 0000 ff70 34fd c0a8 018d c0a8 0159  .r...p4........Y
	0x0030:  2133 3201 0101 bc25 c0a8 01ee 6430 636b  !32....%....d0ck
	0x0040:  6572 0000                                er..
13:13:37.026592 ARP, Ethernet (len 6), IPv4 (len 4), Reply 192.168.1.89 is-at 00:50:56:a7:bf:4b (oui Unknown), length 46
	0x0000:  0001 0800 0604 0002 0050 56a7 bf4b c0a8  .........PV..K..
	0x0010:  0159 0050 56a7 bf4b c0a8 0159 0000 0000  .Y.PV..K...Y....
	0x0020:  0000 0000 0000 0000 0000 0000 0000       ..............
13:13:37.087711 ARP, Ethernet (len 6), IPv4 (len 4), Request who-has 192.168.1.92 tell 192.168.1.89, length 46
	0x0000:  0001 0800 0604 0001 0050 56a7 bf4b c0a8  .........PV..K..
	0x0010:  0159 0000 0000 0000 c0a8 015c 0000 0000  .Y.........\....
	0x0020:  0000 0000 0000 0000 0000 0000 0000       ..............
13:13:37.814611 ARP, Ethernet (len 6), IPv4 (len 4), Request who-has 192.168.1.141 tell 192.168.1.89, length 46
	0x0000:  0001 0800 0604 0001 0050 56a7 bf4b c0a8  .........PV..K..
	0x0010:  0159 0000 0000 0000 c0a8 018d 0000 0000  .Y..............
	0x0020:  0000 0000 0000 0000 0000 0000 0000       ..............
13:13:37.814993 IP (tos 0xc0, ttl 64, id 50728, offset 0, flags [none], proto ICMP (1), length 68)
    192.168.1.89 > 192.168.1.141: ICMP host 192.168.1.89 unreachable - admin prohibited, length 48
	IP (tos 0xc0, ttl 255, id 392, offset 0, flags [none], proto VRRP (112), length 40)
    192.168.1.141 > 192.168.1.89: vrrp 192.168.1.141 > 192.168.1.89: VRRPv2, Advertisement, vrid 51, prio 50, authtype simple, intvl 1s, length 20, addrs: 192.168.1.238 auth "d0cker^@^@"
	0x0000:  45c0 0044 c628 0000 4001 2f9a c0a8 0159  E..D.(..@./....Y
	0x0010:  c0a8 018d 030a fcf5 0000 0000 45c0 0028  ............E..(
	0x0020:  0188 0000 ff70 34e7 c0a8 018d c0a8 0159  .....p4........Y
	0x0030:  2133 3201 0101 bc25 c0a8 01ee 6430 636b  !32....%....d0ck
	0x0040:  6572 0000                                er..

```

In this dump, the machine with priority 51 (1.89) goes down at 13:13:15 and comes alive again at 13:13:37. Looks like it immediately starts getting the advertisements but I'm starting keepalived after one minute delay. The preemption occurs after one minute but TCP dump remains same. An advertisement after every second. Let me know if any other detail is required to comprehend the issue.

Your configuration appears to be using the default advert interval of 1 second. This means that when keepalived starts up, any VRRP instances (except those configured with priority 255) will wait approximately 3.8 seconds before transitioning to master (3 * advert_int + advert_int * (255 - priority)/255) (the 255 might be 256, I can't remember). Since 1.89 transitions to master at 13:18:52.6, it must have been in backup mode since 13:18:48.8, but from the tcpdump output we can see that during that time 1.89 is rejecting the vrrp adverts with ICMP messages unreachable/adminstratively down. keepalived on 1.89 therefore isn't receiving the adverts from 1.141 which is why 1.89 transitions to master. You should be able to see from the logs the time when 1.89 reports becoming backup, which I think in this case will have been either at 13:18:48 or 13:18:47.

This problem relates somehow to your local setup, and possibly the way the containers are handling the networking. It is not a keepalived issue.