Support of IPv4 and IPv6 addresses in the same VRRP instance (using separate router instances)

It is possible to have two virtual routers running under the same VRRP instance, one for IPv4 and another for IPv6, both using the same VRID.  The separation of mixed addresses under virtual_ipaddresses into the separate routers could be handled behind the scenes within the VRRP instance. This is supported by the RFC, from what I read in sections 1 and 3.

Any thoughts on implementing something along these lines?


@batkins61 I think your terminology is a little confused regarding virtual routers and VRRP instances.

In the context of RFC5798 (VRRPv3) think of keepalived as a VRRP router, which can have one or more virtual routers (VRRP instances). A VRRP instance is either an IPv4 instance or an IPv6 instance, but cannot be both (keepalived allows a VRRP instance to manage addresses from the 'other' address family, but they must be configured in a `virtual_ipaddress_excluded` block, and will not be included in VRRP adverts).

As RFC5798 states in section 1: _Within a VRRP router, the virtual routers in each of the IPv4 and IPv6 address families are a domain unto themselves and do not overlap_ and section 3 states _There is no restriction against reusing a VRID with a different address mapping on different LANs, nor is there a restriction against using the same VRID number for a set of IPv4 addresses and a set of IPv6 addresses; however, these are two different virtual routers._

This means two VRRP instances can use the same VRID provided one is IPv4 and the other is IPv6. In fact what has to be unique is the triplet (VRID, address family, interface), so the same VRID can be used with the same address family so long as the VRRP instances are using different interfaces on the system. Making use of this I have run keepalived with over 2000 VRRP instances configured.

What is absolutely not possible is to configure a single VRRP instance to handle both IPv4 and IPv6 addresses (other than using the virtual_ipaddress_excluded to configure addresses of the 'wrong' address family). The VRRP protocol, in the list of ip addresses included in the advert, has no way if identifying addresses as either IPv4 or IPv6; if the advert is an IPv4 packet, then the advertised addresses are IPv4 addresses, and similarly for IPv6.

I'm not sure that I can see anything here that we can implement.

If you want to ensure that both IPv4 addresses and IPv6 addresses are configured by the same keepalived instance, you can have two vrrp instances, one IPv4 and the other IPv6, and configure both the vrrp instances into a sync group.

In RFC 5798, section 3, I was looking at:
   There is no restriction against reusing a VRID with a different
   address mapping on different LANs, nor is there a restriction against
   **using the same VRID number for a set of IPv4 addresses and a set of
   IPv6 addresses; however, these are two different virtual routers.**

and thinking that the vrrp_instance would be the VRRP Router with potentially two virtual routers within it (one for IPv4 VIPs and one for IPv6 VIPs), allowing all the rest of the instance values to apply to both without repeating them in separate vrrp_instance blocks.

There is a way of avoiding duplicate configuration by using parameter substitution. The following example defines the basic configuration once, and then uses it to create 2 vrrp instances, one IPv4 and the other IPv6.
```
$VRRP_INST= \
vrrp_instance VI_$INST_NUM { \
    interface $IF \
    state BACKUP \
    virtual_router_id 253 \
    version 3 \
@high    priority 240 \
@medium priority 220 \
@low    priority 200 \
    advert_int 1 \
     use_vmac vrrp${INST_NUM}.253 \
    no_accept \
    virtual_ipaddress { \
      $VIPS \
    } \
}

$VIPS= \
      10.2.0.100/32 \
      10.2.0.101/32
$INST_NUM=4
$VRRP_INST

$VIPS= \
      fe80::4000/64 \
      2001:470:69dd:2::3000 \
      2001:470:69dd:2::4000
$INST_NUM=6
$VRRP_INST
```
The configuration also demonstrates the use of conditional configuration (the lines starting with @) so that the same configuration file can be used on more that one system, with, in this case, different priorities on each system.

Thanks for that!  Obviously a better solution than refactoring the code.
