Does Authentication in VRRP Have Actual Meaning

_Support requests should be sent via_ https://groups.io/g/keepalived-users

**Describe why you are unable to send the support request to the above email list**


**Describe what you need help/support for**

Hello, we would like to ask whether the configuration item Authentication in VRRP is meaningful. According to keepalived's official website, it has a little effect in unicast scenarios. Therefore, when unicast is used, does it have a significant effect on security? Or should this configuration not be used in any scenario? We look forward to your reply and thank you very much.

![image](https://github.com/acassen/keepalived/assets/128496832/7b06ad96-c596-4679-be8a-e80849ad8392)


**Details of what you would like to do with keepalived**
Describe in details what you would like to achieve with keepalived

**Keepalived version**
Output of `keepalived -v` (a later version of keepalived might be needed).

v2.2.4

**Distro (please complete the following information):**

**Details of any containerisation or hosted service (e.g. AWS)**

**Configuration file:**

**Notify and track scripts**

**System Log entries**

**Additional context**


RFC3768 (the version before the current RFC 5798) states:
```
Note:  Earlier version of the VRRP specification had several defined
   authentication types [[RFC2338](https://datatracker.ietf.org/doc/html/rfc2338)].  These were removed in this
   specification because operational experience showed that they did not
   provide any real security and would only cause multiple masters to be
   created.
```

Certainly authentication has no effect on security since if someone can capture the genuine VRRP packets, they can then send malicious packets.