VRRP no longer allows using the same IPv6 link-local address as VIP on multiple interfaces

**Describe the bug**
Using the same IPv6 link-local address as VIP on multiple interfaces is no longer allowed:

```
Keepalived_vrrp[5664]: (/tmp/keepalived.conf: Line 87) (VI_2): VIP duplicates a VIP fe80::1/64 - ignoring
```

I believe this is a perfectly acceptable setup. My setup has been working like this for many years.

The duplicate check was introduced in e67cf6b216ed62da1f462e5566e65846090b17cd.

**To Reproduce**
Create a VRRP instance with the same IPv6 link-local address as VIP on multiple interfaces.

**Expected behavior**
VRRP should not ignore the "duplicate" IPv6 link-local address.

**Keepalived version**
**This is in fact not v2.3.2**, but keepalived built from 087ad4aacdf2349349d7071689fa46d9ab7055f2, to test if it solves the problem where my keepalived is stuck in FAULT state, which I suspect is #2275.

```
# keepalived -v
Keepalived v2.3.2 (03/23,2025)

Copyright(C) 2001-2025 Alexandre Cassen, <acassen@gmail.com>

Built with kernel headers for Linux 6.6.80
Running on Linux 6.6.83 #0 SMP Sat Mar 22 16:15:39 2025
Distro: OpenWrt SNAPSHOT

configure options: --target=powerpc64-openwrt-linux --host=powerpc64-openwrt-linux --build=x86_64-pc-linux-gnu --disable-dependency-tracking --program-prefix= --program-suffix= --prefix=/usr --exec-prefix=/usr --bindir=/usr/bin --sbindir=/usr/sbin --libexecdir=/usr/lib --sysconfdir=/etc --datadir=/usr/share --localstatedir=/var --mandir=/usr/man --infodir=/usr/info --disable-nls --enable-json --with-init=SYSV --disable-track-process --runstatedir=/var/run --enable-bfd --enable-sha1 --disable-iptables --disable-libipset-dynamic --enable-snmp-rfcv3 --enable-snmp-checker build_alias=x86_64-pc-linux-gnu host_alias=powerpc64-openwrt-linux target_alias=powerpc64-openwrt-linux PKG_CONFIG=/home/stijn/Development/OpenWrt/openwrt/staging_dir/host/bin/pkg-config PKG_CONFIG_PATH=/home/stijn/Development/OpenWrt/openwrt/staging_dir/target-powerpc64_e5500_musl/usr/lib/pkgconfig:/home/stijn/Development/OpenWrt/openwrt/staging_dir/target-powerpc64_e5500_musl/usr/share/pkgconfig PKG_CONFIG_LIBDIR=/home/stijn/Development/OpenWrt/openwrt/staging_dir/target-powerpc64_e5500_musl/usr/lib/pkgconfig:/home/stijn/Development/OpenWrt/openwrt/staging_dir/target-powerpc64_e5500_musl/usr/share/pkgconfig CC=powerpc64-openwrt-linux-musl-gcc CFLAGS=-Os -pipe -mcpu=e5500 -g3 -fno-caller-saves -fno-plt -fhonour-copts -fmacro-prefix-map=/home/stijn/Development/OpenWrt/openwrt/build_dir/target-powerpc64_e5500_musl/keepalived-2025.03.23~087ad4aa=keepalived-2025.03.23~087ad4aa -DPIC -fpic -fstack-protector-all -D_FORTIFY_SOURCE=1 -Wl,-z,now -Wl,-z,relro -I/home/stijn/Development/OpenWrt/openwrt/build_dir/target-powerpc64_e5500_musl/linux-qoriq_generic/linux-6.6.83  LDFLAGS=-L/home/stijn/Development/OpenWrt/openwrt/staging_dir/toolchain-powerpc64_e5500_gcc-13.3.0_musl/usr/lib -L/home/stijn/Development/OpenWrt/openwrt/staging_dir/toolchain-powerpc64_e5500_gcc-13.3.0_musl/lib -fuse-ld=bfd -DPIC -fpic -specs=/home/stijn/Development/OpenWrt/openwrt/include/hardened-ld-pie.specs -znow -zrelro  CPPFLAGS=-I/home/stijn/Development/OpenWrt/openwrt/staging_dir/toolchain-powerpc64_e5500_gcc-13.3.0_musl/usr/include -I/home/stijn/Development/OpenWrt/openwrt/staging_dir/toolchain-powerpc64_e5500_gcc-13.3.0_musl/include -I/home/stijn/Development/OpenWrt/openwrt/staging_dir/toolchain-powerpc64_e5500_gcc-13.3.0_musl/include/fortify

Config options:  NFTABLES LVS VRRP VRRP_AUTH VRRP_VMAC JSON BFD DISABLE_TRACK_PROCESS OLD_CHKSUM_COMPAT SNMP_V3_FOR_V2 SNMP_CHECKER SNMP_RFCV3 IPROUTE_ETC_DIR=/etc/iproute2 IPROUTE_USR_DIR=/usr/share/iproute2 INIT=SYSV

System options:  VSYSLOG MEMFD_CREATE IPV6_FREEBIND IPV6_MULTICAST_ALL LIBKMOD IPV4_DEVCONF LIBNL3 RTA_ENCAP RTA_EXPIRES RTA_NEWDST RTA_PREF FRA_SUPPRESS_PREFIXLEN FRA_SUPPRESS_IFGROUP FRA_TUN_ID RTAX_CC_ALGO RTAX_QUICKACK RTEXT_FILTER_SKIP_STATS FRA_L3MDEV FRA_UID_RANGE RTAX_FASTOPEN_NO_COOKIE RTA_VIA FRA_PROTOCOL FRA_IP_PROTO FRA_SPORT_RANGE FRA_DPORT_RANGE RTA_TTL_PROPAGATE IFA_FLAGS F_OFD_SETLK IFA_PROTO LWTUNNEL_ENCAP_MPLS LWTUNNEL_ENCAP_ILA NET_LINUX_IF_H_COLLISION NETINET_LINUX_IF_ETHER_H_COLLISION LIBIPVS_NETLINK IPVS_DEST_ATTR_ADDR_FAMILY IPVS_SYNCD_ATTRIBUTES IPVS_64BIT_STATS IPVS_TUN_TYPE IPVS_TUN_CSUM IPVS_TUN_GRE VRRP_IPVLAN IFLA_LINK_NETNSID INET6_ADDR_GEN_MODE VRF SO_MARK
```

**Distro (please complete the following information):**
 - Name: OpenWrt
 - Version: master r29070-8d1fe32c2c
 - Architecture: PowerPC64

**Details of any containerisation or hosted service (e.g. AWS)**
NA

**Configuration file:**
```
! Configuration file for keepalived (autogenerated via init script)
! Written Mon Mar 24 12:27:16 2025

global_defs {
        script_user root
        enable_script_security
        process_names
        startup_script "/bin/busybox env -i ACTION=startup /sbin/hotplug-call keepalived"
        startup_script_timeout 10
        shutdown_script "/bin/busybox env -i ACTION=shutdown /sbin/hotplug-call keepalived"
        shutdown_script_timeout 10
        notification_email {
                [REDACTED]
        }
        notification_email_from [REDACTED]
        smtp_server [REDACTED]
        smtp_connect_timeout 30
        router_id [REDACTED]
}

static_ipaddress {
}

static_routes {
}

interface_up_down_delays {
}

vrrp_sync_group VSG_1 {
        group {
                VI_1
                VI_2
        }
        notify_backup "/bin/busybox env -i ACTION=NOTIFY_BACKUP TYPE=GROUP NAME=VSG_1 /sbin/hotplug-call keepalived"
        notify_master "/bin/busybox env -i ACTION=NOTIFY_MASTER TYPE=GROUP NAME=VSG_1 /sbin/hotplug-call keepalived"
        notify_fault "/bin/busybox env -i ACTION=NOTIFY_FAULT TYPE=GROUP NAME=VSG_1 /sbin/hotplug-call keepalived"
        notify "/bin/busybox env -i ACTION=NOTIFY TYPE=GROUP NAME=VSG_1 /sbin/hotplug-call keepalived"
}

vrrp_instance VI_1 {
        authentication {
                auth_type PASS
                auth_pass 1111
        }
        state BACKUP
        interface switch.31
        virtual_router_id 31
        priority 100
        advert_int 1
        preempt_delay 120
        garp_master_delay 2
        vmac_xmit_base
        use_vmac
        notify_backup "/bin/busybox env -i ACTION=NOTIFY_BACKUP TYPE=INSTANCE NAME=VI_1 /sbin/hotplug-call keepalived"
        notify_master "/bin/busybox env -i ACTION=NOTIFY_MASTER TYPE=INSTANCE NAME=VI_1 /sbin/hotplug-call keepalived"
        notify_fault "/bin/busybox env -i ACTION=NOTIFY_FAULT TYPE=INSTANCE NAME=VI_1 /sbin/hotplug-call keepalived"
        notify_stop "/bin/busybox env -i ACTION=NOTIFY_STOP TYPE=INSTANCE NAME=VI_1 /sbin/hotplug-call keepalived"
        virtual_ipaddress {
                x.y.20.1/24 dev switch.20 label switch.20:vip
                x.y.22.1/24 dev switch.22 label switch.22:vip
                x.y.23.1/24 dev switch.23 label switch.23:vip
                x.y.24.1/24 dev switch.24 label switch.24:vip
                x.y.27.1/24 dev switch.27 label switch.27:vip
                x.y.30.1/24 dev switch.30 label switch.30:vip
                z.q.99.1/24 dev switch.99 label switch.99:vip
        }
}

vrrp_instance VI_2 {
        state BACKUP
        interface switch.31
        virtual_router_id 31
        priority 100
        advert_int 1
        preempt_delay 120
        garp_master_delay 2
        vmac_xmit_base
        native_ipv6
        use_vmac
        notify_backup "/bin/busybox env -i ACTION=NOTIFY_BACKUP TYPE=INSTANCE NAME=VI_2 /sbin/hotplug-call keepalived"
        notify_master "/bin/busybox env -i ACTION=NOTIFY_MASTER TYPE=INSTANCE NAME=VI_2 /sbin/hotplug-call keepalived"
        notify_fault "/bin/busybox env -i ACTION=NOTIFY_FAULT TYPE=INSTANCE NAME=VI_2 /sbin/hotplug-call keepalived"
        notify_stop "/bin/busybox env -i ACTION=NOTIFY_STOP TYPE=INSTANCE NAME=VI_2 /sbin/hotplug-call keepalived"
        virtual_ipaddress {
                fe80::1/64 dev switch.27 label switch.27:vip
                fe80::1/64 dev switch.20 label switch.20:vip
                fe80::1/64 dev switch.22 label switch.22:vip
                fe80::1/64 dev switch.23 label switch.23:vip
                fe80::1/64 dev switch.30 label switch.30:vip
        }
}
```

**Notify and track scripts**
NA

**System Log entries**
```
Mon Mar 24 12:49:37 2025 daemon.info Keepalived[8270]: Starting Keepalived v2.3.2 (03/23,2025)
Mon Mar 24 12:49:37 2025 daemon.info Keepalived[8270]: Running on Linux 6.6.83 #0 SMP Sat Mar 22 16:15:39 2025 (built for Linux 6.6.80)
Mon Mar 24 12:49:37 2025 daemon.info Keepalived[8270]: Command line: '/usr/sbin/keepalived' '-n' '-f' '/tmp/keepalived.conf'
Mon Mar 24 12:49:37 2025 daemon.info Keepalived[8270]: Configuration file /tmp/keepalived.conf
Mon Mar 24 12:49:42 2025 daemon.info Keepalived[8270]: (Line 16) Invalid smtp server [REDACTED] 25
Mon Mar 24 12:49:43 2025 daemon.info Keepalived[8270]: NOTICE: setting config option max_auto_priority should result in better keepalived performance
Mon Mar 24 12:49:43 2025 daemon.info Keepalived[8270]: Starting VRRP child process, pid=8316
Mon Mar 24 12:49:43 2025 daemon.info Keepalived_vrrp[8316]: (/tmp/keepalived.conf: Line 86) Cannot specify label for IPv6 addresses (fe80::1/64) - ignoring label
Mon Mar 24 12:49:43 2025 daemon.info Keepalived_vrrp[8316]: (/tmp/keepalived.conf: Line 87) Cannot specify label for IPv6 addresses (fe80::1/64) - ignoring label
Mon Mar 24 12:49:43 2025 daemon.info Keepalived_vrrp[8316]: (/tmp/keepalived.conf: Line 87) (VI_2): VIP duplicates a VIP fe80::1/64 - ignoring
Mon Mar 24 12:49:43 2025 daemon.info Keepalived_vrrp[8316]: (/tmp/keepalived.conf: Line 88) Cannot specify label for IPv6 addresses (fe80::1/64) - ignoring label
Mon Mar 24 12:49:43 2025 daemon.info Keepalived_vrrp[8316]: (/tmp/keepalived.conf: Line 88) (VI_2): VIP duplicates a VIP fe80::1/64 - ignoring
Mon Mar 24 12:49:43 2025 daemon.info Keepalived_vrrp[8316]: (/tmp/keepalived.conf: Line 89) Cannot specify label for IPv6 addresses (fe80::1/64) - ignoring label
Mon Mar 24 12:49:43 2025 daemon.info Keepalived_vrrp[8316]: (/tmp/keepalived.conf: Line 89) (VI_2): VIP duplicates a VIP fe80::1/64 - ignoring
Mon Mar 24 12:49:43 2025 daemon.info Keepalived_vrrp[8316]: (/tmp/keepalived.conf: Line 90) Cannot specify label for IPv6 addresses (fe80::1/64) - ignoring label
Mon Mar 24 12:49:43 2025 daemon.info Keepalived_vrrp[8316]: (/tmp/keepalived.conf: Line 90) (VI_2): VIP duplicates a VIP fe80::1/64 - ignoring
Mon Mar 24 12:49:44 2025 daemon.info Keepalived_vrrp[8316]: use_vmac or no_accept/strict specified, but no firewall configured - using nftables
Mon Mar 24 12:49:44 2025 daemon.info Keepalived[8270]: Startup complete
Mon Mar 24 12:49:44 2025 daemon.info Keepalived_vrrp[8316]: (VI_1) Entering BACKUP STATE (init)
Mon Mar 24 12:49:44 2025 daemon.info Keepalived_vrrp[8316]: (VI_2) Entering BACKUP STATE (init)
Mon Mar 24 12:49:45 2025 daemon.info Keepalived_vrrp[8316]: (VI_2) expected 1 VIPs but received 5
```

**Did keepalived coredump?**
No

**Additional context**
Add any other context about the problem here.


Now that I've looked at the code again, I remember the logic for implementing it the way I did.

The code does not allow duplicate `virtual_ipaddress`es (regardless of the interface(s) that they are being configured on), but it does allow duplicates between the `virtual_ipaddress`es and `virtual_ipaddress_excluded`, and amongst the `virtual_ipaddress_excluded` themselves provided the addresses are on different interfaces.

The reason for this is if an address is duplicated in the `virtual_ipaddress` block, then it will appear multiple times in the adverts, which looks like a misconfiguration and may be rejected by some implementations.

It is easy to change the code to remove the restriction of duplicate `virtual_ipaddress`es provided they are on different interfaces; on the other hand I think it would be preferable to to configure one of them as the `virtual_ipaddress` and the remainder as `virtual_ipaddress_excluded`. This latter way would have the benefit of the adverts looking right, since they would not have duplicate IP addresses.

@stintel Let me know what you think, and if necessary I will change the code.

@pqarmitage thanks for your response. I have changed my configuration to use virtual_ipaddress_excluded. This way I can use fe80::1 as VIP on multiple interfaces again.

Had a quick look at the VRRP RFC, which does not seem to specify if duplicate IPs in the VRRP packet, leaving it open for interpretation, and such packets may indeed be rejected by some implementations.

I do see one downside of using virtual_ipaddress_excluded: if a mistake is made in the configuration of on one of the keepalived instances, it will not be detected, but I'm not sure this is worth adding yet another parameter like `virtual_ipaddress_allow_duplicates` or something. I'll leave that for you to decide.

Maybe at some point I can fire up some other VRRP implementations and replicate the setup there, to see what happens when duplicate IP addresses exist in the packet, but I have other priorities at the moment.

@stintel I too had a look at the VRRP RFC and likewise did not find anything about duplicate IP addresses. I think there is an assumption in the RFC that the IP addresses are configured on the subnet over which the VRRP instance is operating, and therefore duplicate IP addresses would not exist. We have extended keepalived significantly beyond what the VRRP RFCs contemplate and allow far greater flexibility. Sometimes this comes back to bite us!

I would be very interested to hear about the results of any testing you undertake with other VRRP implementations. Unfortunately I do not have access to any hardware that supports VRRP (e.g. Cisco, Juniper) and keep meaning to set up some of the other open source VRRP implementations to test against (e.g. FRRouting). Quite a few of the other open source implementations only implement VRRPv2, so from my perspective those are not worth considering.

I would be very interested to know what other VRRP implementations have implemented the (albeit minor) protocol enhancements incorporated in RFC9568 over the original VRRPv3 RFC, RFC5798 (keepalived had already implemented the enhancements prior to RFC9568 which was why I suggested the enhancements for RFC9568).

At the moment I am not inclined to add a keyword such as `virtual_ipaddress_allow_duplicates` or simply to relax the restriction and allow duplicates, because using `virtual_ipaddress_excluded` will always work as far as I can see. I will update the man page with a comment that all `virtual_ipaddress`es must be different, and to use `virtual_ipaddress_excluded` if duplicate addresses are desired.

I have a few old HP A5500-48G-4SFP that are EOL/EOSL for many years. Not sure how useful it even is to test one that model. I also have a single Huawei S6720-32C-PWH-SI, but that one is used in production and therefore I'm hesitant to play around with it.

https://support.hpe.com/hpesc/public/docDisplay?docId=c03237481&docLocale=en_US#N10424 lists that the HP A5500-48G-4SFP support RFC2338 and RFC3768 and the highest number RFC for anything is RFC4762, so they appear to have VRRPv2 support but not VRRPv3.

https://www.alternetivo.cz/img.asp?attid=534122 lists that the Huawei device supports VRRP and VRRP6, but under standards compliance there is no VRRP RFC listed, and anyway, as you say, it is in production use. At https://support.huawei.com/enterprise/en/doc/EDOC1100174721/e04f624b/vrrp lists RFC2338, RFC3768 and RFC5798 (but does not list RFC9568). Interesting, it states `Authentication: VRRPv3 does not support authentication, whereas VRRPv2 does`, but also says of Authentication Data: `Used for backward compatibility with RFC 2338. When a VRRP packet is sent, this field is set to 0. When the VRRP packet is received, this field is ignored`, so the Huawei implementation does not support authentication.