SNMP - KEEPALIVED-MIB::virtualServerAddress issue

Just installed keepalived-1.4.4 and tested the SNMP-fix

Sorry, but with the fix from #850 a new issue was possibly added. While debugging the mentioned perl-script in #850 again, I found that the KEEPALIVED-MIB::virtualServerAddress is somehow a little bit strange.

```
# snmpwalk -v2c -c public localhost KEEPALIVED-MIB::virtualServerAddress
KEEPALIVED-MIB::virtualServerAddress.1 = STRING: "
0,"
KEEPALIVED-MIB::virtualServerAddress.2 = STRING: "
0,"
KEEPALIVED-MIB::virtualServerAddress.3 = STRING: "
0-"
KEEPALIVED-MIB::virtualServerAddress.4 = STRING: "
0-"
KEEPALIVED-MIB::virtualServerAddress.5 = STRING: "
0."
KEEPALIVED-MIB::virtualServerAddress.6 = STRING: "
0."
```

I've tried this with v1.4.4 and I am getting the following:
```
# snmpwalk -v2c -c public localhost KEEPALIVED-MIB::virtualServerAddress
KEEPALIVED-MIB::virtualServerAddress.1 = Hex-STRING: 0A 00 00 04 
KEEPALIVED-MIB::virtualServerAddress.2 = Hex-STRING: 0A 00 01 04 
```

I'm not clear why you are getting a STRING whereas I am getting a Hex-STRING. What are your virtual server addresses?

If you could provide a copy of your configuration I'll try it here and see what I get.

This is the config I'm currently useing in my productiv environment. I had to change the hostnames and passwords. As commented at `lvs_sync_daemon`, I hope this is not the cause for the problem as far as I have googled and read it shouldn't really be a problem. I set up three balancers, each holding one VIP. The VIPs are resolved via a round-robin DNS-record. The configs are set up accordingly on all three hosts and are currently working pretty well. 
The selfmade `check-logrmq-node-health.py`-script checks on the realservers if one of the mandatory services are OK and takes the realserver offline if logstash- or rabbitmq-service somehow stops.

```
global_defs {
    notification_email {
        my_mail@somecompany.com
    }

    notification_email_from noreply@somecompany.com
    smtp_server localhost
    smtp_connect_timeout 30
    # string identifying the machine
    router_id bal-001

   lvs_sync_daemon bond0 BAL_1
   # i know those are ignored - i hope this is not a problem. it seems to work.
   lvs_sync_daemon bond0 BAL_2
   lvs_sync_daemon bond0 BAL_3
}

vrrp_instance BAL_1 {
    state MASTER
    interface bond0
    virtual_router_id 50
    priority 150
    advert_int 1
    authentication {
        auth_type PASS
        auth_pass supersec1
    }

    unicast_src_ip 10.12.48.138 # bal-001

    # change accordingly on other hosts
    unicast_peer {
        10.12.48.139 # bal-002
        10.12.48.140 # bal-003
    }

    virtual_ipaddress {
        10.12.48.44/24
    }
}

vrrp_instance BAL_2 {
    state BACKUP
    interface bond0
    virtual_router_id 60
    priority 100
    advert_int 1
    authentication {
        auth_type PASS
        auth_pass supersec2
    }

    unicast_src_ip 10.12.48.138 # bal-001

    # change accordingly on other hosts
    unicast_peer {
        10.12.48.139 # bal-002
        10.12.48.140 # bal-003
    }

    virtual_ipaddress {
        10.12.48.45/24
    }
}

vrrp_instance BAL_3 {
    state BACKUP
    interface bond0
    virtual_router_id 70
    priority 50
    advert_int 1
    authentication {
        auth_type PASS
        auth_pass supersec3
    }

    unicast_src_ip 10.12.48.138 # bal-001

    # change accordingly on other hosts
    unicast_peer {
        10.12.48.139 # bal-002
        10.12.48.140 # bal-003
    }

    virtual_ipaddress {
        10.12.48.46/24
    }
}

###### 10.12.48.44 ##############
virtual_server 10.12.48.44 5044 {
    delay_loop 5
    # rr|wrr|lc|wlc|lblc|sh|dh
    lb_algo lc
    lb_kind DR
    protocol TCP

    real_server 10.12.48.141 5044 {
        weight 1
        MISC_CHECK {
            misc_timeout 5
            misc_path "/opt/scripts/check-logrmq-node-health/check-logrmq-node-health.py --rabbitmq-node 'logrmq-001.domain:15672' --rabbitmq-user='logstash' --rabbitmq-pass='somepw123' --logstash-node='logrmq-001.domain:9600'"
        }
    }
    real_server 10.12.48.142 5044 {
        weight 1
        MISC_CHECK {
            misc_timeout 5
            misc_path "/opt/scripts/check-logrmq-node-health/check-logrmq-node-health.py --rabbitmq-node 'logrmq-002.domain:15672' --rabbitmq-user='logstash' --rabbitmq-pass='somepw123' --logstash-node='logrmq-002.domain:9600'"
        }
    }
    real_server 10.12.48.143 5044 {
        weight 1
        MISC_CHECK {
            misc_timeout 5
            misc_path "/opt/scripts/check-logrmq-node-health/check-logrmq-node-health.py --rabbitmq-node 'logrmq-003.domain:15672' --rabbitmq-user='logstash' --rabbitmq-pass='somepw123' --logstash-node='logrmq-003.domain:9600'"
        }
    }
}

virtual_server 10.12.48.44 1514 {
    delay_loop 5
    # rr|wrr|lc|wlc|lblc|sh|dh
    lb_algo rr
    lb_kind DR
    protocol UDP
    ops

    real_server 10.12.48.141 1514 {
        MISC_CHECK {
            misc_timeout 5
            misc_path "/opt/scripts/check-logrmq-node-health/check-logrmq-node-health.py --rabbitmq-node 'logrmq-001.domain:15672' --rabbitmq-user='logstash' --rabbitmq-pass='somepw123' --logstash-node='logrmq-001.domain:9600'"
        }
    }
    real_server 10.12.48.142 1514 {
        MISC_CHECK {
            misc_timeout 5
            misc_path "/opt/scripts/check-logrmq-node-health/check-logrmq-node-health.py --rabbitmq-node 'logrmq-002.domain:15672' --rabbitmq-user='logstash' --rabbitmq-pass='somepw123' --logstash-node='logrmq-002.domain:9600'"
        }
    }
    real_server 10.12.48.143 1514 {
        MISC_CHECK {
            misc_timeout 5
            misc_path "/opt/scripts/check-logrmq-node-health/check-logrmq-node-health.py --rabbitmq-node 'logrmq-003.domain:15672' --rabbitmq-user='logstash' --rabbitmq-pass='somepw123' --logstash-node='logrmq-003.domain:9600'"
        }
    }
}
###### 10.12.48.44 ##############

###### 10.12.48.45 ##############
virtual_server 10.12.48.45 5044 {
    delay_loop 5
    # rr|wrr|lc|wlc|lblc|sh|dh
    lb_algo lc
    lb_kind DR
    protocol TCP

    real_server 10.12.48.141 5044 {
        weight 1
        MISC_CHECK {
            misc_timeout 5
            misc_path "/opt/scripts/check-logrmq-node-health/check-logrmq-node-health.py --rabbitmq-node 'logrmq-001.domain:15672' --rabbitmq-user='logstash' --rabbitmq-pass='somepw123' --logstash-node='logrmq-001.domain:9600'"
        }
    }
    real_server 10.12.48.142 5044 {
        weight 1
        MISC_CHECK {
            misc_timeout 5
            misc_path "/opt/scripts/check-logrmq-node-health/check-logrmq-node-health.py --rabbitmq-node 'logrmq-002.domain:15672' --rabbitmq-user='logstash' --rabbitmq-pass='somepw123' --logstash-node='logrmq-002.domain:9600'"
        }
    }
    real_server 10.12.48.143 5044 {
        weight 1
        MISC_CHECK {
            misc_timeout 5
            misc_path "/opt/scripts/check-logrmq-node-health/check-logrmq-node-health.py --rabbitmq-node 'logrmq-003.domain:15672' --rabbitmq-user='logstash' --rabbitmq-pass='somepw123' --logstash-node='logrmq-003.domain:9600'"
        }
    }
}

virtual_server 10.12.48.45 1514 {
    delay_loop 5
    # rr|wrr|lc|wlc|lblc|sh|dh
    lb_algo rr
    lb_kind DR
    protocol UDP
    ops

    real_server 10.12.48.141 1514 {
        MISC_CHECK {
            misc_timeout 5
            misc_path "/opt/scripts/check-logrmq-node-health/check-logrmq-node-health.py --rabbitmq-node 'logrmq-001.domain:15672' --rabbitmq-user='logstash' --rabbitmq-pass='somepw123' --logstash-node='logrmq-001.domain:9600'"
        }
    }
    real_server 10.12.48.142 1514 {
        MISC_CHECK {
            misc_timeout 5
            misc_path "/opt/scripts/check-logrmq-node-health/check-logrmq-node-health.py --rabbitmq-node 'logrmq-002.domain:15672' --rabbitmq-user='logstash' --rabbitmq-pass='somepw123' --logstash-node='logrmq-002.domain:9600'"
        }
    }
    real_server 10.12.48.143 1514 {
        MISC_CHECK {
            misc_timeout 5
            misc_path "/opt/scripts/check-logrmq-node-health/check-logrmq-node-health.py --rabbitmq-node 'logrmq-003.domain:15672' --rabbitmq-user='logstash' --rabbitmq-pass='somepw123' --logstash-node='logrmq-003.domain:9600'"
        }
    }
}
###### 10.12.48.45 ##############


###### 10.12.48.46 ##############
virtual_server 10.12.48.46 5044 {
    delay_loop 5
    # rr|wrr|lc|wlc|lblc|sh|dh
    lb_algo lc
    lb_kind DR
    protocol TCP

    real_server 10.12.48.141 5044 {
        weight 1
        MISC_CHECK {
            misc_timeout 5
            misc_path "/opt/scripts/check-logrmq-node-health/check-logrmq-node-health.py --rabbitmq-node 'logrmq-001.domain:15672' --rabbitmq-user='logstash' --rabbitmq-pass='somepw123' --logstash-node='logrmq-001.domain:9600'"
        }
    }
    real_server 10.12.48.142 5044 {
        weight 1
        MISC_CHECK {
            misc_timeout 5
            misc_path "/opt/scripts/check-logrmq-node-health/check-logrmq-node-health.py --rabbitmq-node 'logrmq-002.domain:15672' --rabbitmq-user='logstash' --rabbitmq-pass='somepw123' --logstash-node='logrmq-002.domain:9600'"
        }
    }
    real_server 10.12.48.143 5044 {
        weight 1
        MISC_CHECK {
            misc_timeout 5
            misc_path "/opt/scripts/check-logrmq-node-health/check-logrmq-node-health.py --rabbitmq-node 'logrmq-003.domain:15672' --rabbitmq-user='logstash' --rabbitmq-pass='somepw123' --logstash-node='logrmq-003.domain:9600'"
        }
    }
}

virtual_server 10.12.48.46 1514 {
    delay_loop 5
    # rr|wrr|lc|wlc|lblc|sh|dh
    lb_algo rr
    lb_kind DR
    protocol UDP
    ops

    real_server 10.12.48.141 1514 {
        MISC_CHECK {
            misc_timeout 5
            misc_path "/opt/scripts/check-logrmq-node-health/check-logrmq-node-health.py --rabbitmq-node 'logrmq-001.domain:15672' --rabbitmq-user='logstash' --rabbitmq-pass='somepw123' --logstash-node='logrmq-001.domain:9600'"
        }
    }
    real_server 10.12.48.142 1514 {
        MISC_CHECK {
            misc_timeout 5
            misc_path "/opt/scripts/check-logrmq-node-health/check-logrmq-node-health.py --rabbitmq-node 'logrmq-002.domain:15672' --rabbitmq-user='logstash' --rabbitmq-pass='somepw123' --logstash-node='logrmq-002.domain:9600'"
        }
    }
    real_server 10.12.48.143 1514 {
        MISC_CHECK {
            misc_timeout 5
            misc_path "/opt/scripts/check-logrmq-node-health/check-logrmq-node-health.py --rabbitmq-node 'logrmq-003.domain:15672' --rabbitmq-user='logstash' --rabbitmq-pass='somepw123' --logstash-node='logrmq-003.domain:9600'"
        }
    }
}
###### 10.12.48.46 ##############
```

I can reproduce this problem on my CentOS 7 virtual machine, although I do not understand the cause of it. I note that the problem does not occur with realServerAddress. It is interesting that the virtualServerAddress is output as a STRING, but the realServerAddress is output as a Hex-STRING. The data that is output in the STRING format for the virtualServerAddress is the correct data - 0A 0C 30 being <LF><FF>0, and if the output of snmpwalk is written to a file, you can see that is what is being output.

The problem doesn't relate to the fix for issue #850, since the problem also occurs with keepalived v1.4.3.

Since this problem is not apparent on Fedora26, and I can see nothing in the MIB or the keepalived code that has any difference between virtualServerAddress and realServerAddress I can only conclude at the moment that this is some strange artefact of net-snmp on CentOS 7.

I have now been able to reproduce this problem on Fedora 26 as well. It looks like a generic problem, but so far as I can see it is a net-snmp issue.

The minimum config that I have found to demonstrate the problem is:
```
virtual_server 10.12.48.44 5044 {
    real_server 10.12.48.141 5044 {
        weight 1
    }
}
```

To be more specific, if the IP address is a.b.c.d and all the octets a, b, c, d are in the range 9 <= octet <= 13 or 32 <= octet <= 126 then the problem will occur. If any of the values is outside the range specified, then the problem will not occur. The same problem will occur with `realServerAddress` if the address falls within the ranges above. The same problem also occurs with IPv6 addresses if all 16 octets are in the specified ranges. In other words, if (isspace(octet) || isprint(octet)) is true for all octets of the address, then net-snmp is interpreting it as a printable string.

The code in net-snmp that is causing this to happen is probably in snmplib/mib.c function print_realloc_octet_string()
```
    switch (output_format) {
    case NETSNMP_STRING_OUTPUT_GUESS:
        hex = 0;
        for (cp = var->val.string, x = 0; x < (int) var->val_len; x++, cp++) {
            if (!isprint(*cp) && !isspace(*cp)) {
                hex = 1;
            }
        }
        break;

    case NETSNMP_STRING_OUTPUT_ASCII:
        hex = 0;
        break;

    case NETSNMP_STRING_OUTPUT_HEX:
        hex = 1;
        break;
    }
```

It would seem that the InetAddress and InetAddressType which are imported from the INET-ADDRESS-MIB are not behaving as they should. The snmpcmd(1) man page says that using the `-Ox` option to snmpwalk should be ignored if there is a DISPLAY-HINT defined for the MIB object, but it isn't ignored, and there does seem to be a DISPLAY-HINT, but it seems to be being ignored.

Wow, thanks for the analysis! So this is a generell problem by net-snmp which also may affect other MIBs/software? This means we have to wait until a fix is released by the net-snmp devs - or move the servers into another network ;o)

From what I can see, net-snmp only uses DISPLAY-HINT for objects that are part of an index, and hence only used for output on the left hand side of the `=` in snmpwalk output. Whether this is a bug or not I don't know, and if it is a bug then whether it is a net-snmp bug or a keepalived bug I really don't know.

However, it does seem strange to ignore DISPLAY-HINT when it is specified, especially then to output a text string if the string happens to comprise all isprint()/isspace() characters. Perhaps it isn't possible to link the InetAddressType object to the InetAddress object if they are not part of the index, but I don't see why that should be the case.

Update - RFC4001, which defines InetAddress/InetAddressType clearly envisages that these types of object are not limited to indices. From RFC 4001, definition of InetAddress:
```
When this textual convention is used as the syntax of an index object, there may be issues ...
```
There are plenty of examples in RFC MIBs where InetAddress/InetAddressType are not part of an index, e.g. RFC 3814, RFC6527 (VRRPv3 MIB).

@BBQigniter, @pqarmitage given that this is year old now is this still an issue or can this issue be closed?

@johannbg Issues #665, #803, #866, #882, #1076 have been left open because there still outstanding issues with them of one sort or another. In respect of this issue, there is the outstanding point about net-snmp not using the DISPLAY_HINT for non index values. When I have the time it is my intention to report an issue against net-snmp.

I solved it by modifying the two script as belove:

**check_keepalived_vrrp.pl**
```
293 sub chk_vrrp_hex2inet($)
294 {
295    my $hexstr = shift;
296    my $oct;
297    my @octs;
298    $hexstr =~ s/"//g;
299    if (length($hexstr) == 4)
300    {
301      for $oct (split(//, $hexstr))
302      {
303        $octs[@octs] = ord($oct);
304      };
305    } else {
306      for $oct (split(/ /, $hexstr))
307      {
308        $octs[@octs] = hex($oct);
309      };
310    };
311 
312    return(join('.', @octs));
313 };
```

**check_keepalived_ipvs.pl**
```
323 sub chk_ipvs_hex2inet($)
324 {
325    my $hexstr = shift;
326    my $oct;
327    my @octs;
328    $hexstr =~ s/"//g;
329    if (length($hexstr) == 4)
330    {
331      for $oct (split(//, $hexstr))
332      {
333        $octs[@octs] = ord($oct);
334      };
335    } else {
336      for $oct (split(/ /, $hexstr))
337      {
338        $octs[@octs] = hex($oct);
339      };
340    };
341 
342    return(join('.', @octs));
343 };
```


@m3rlinux Many thanks for the info. Those files are not part of the keepalived project, but appear to be part of a Nagios plugin hosted at https://github.com/alaskacommunications/nagios_check_keepalive.

It would be really helpful if you could submit a patch to the above project.

@pqarmitage done ;)

I've found another corner case, not covered by this fix:
if source ip address contains an octet with value 92, that translates to symbol '\\', hexstr will grow due to escape presence, failing length comparison and parse.
Adding
`$hexstr =~ s/\\\\/\\/g;`
after existing line
`$hexstr =~ s/"//g;`
fixes the problem for me.

I've also commented here https://github.com/alaskacommunications/nagios_check_keepalived.

> I solved it by modifying the two script as belove:
> 
> **check_keepalived_vrrp.pl**
> 
> ```
> 293 sub chk_vrrp_hex2inet($)
> 294 {
> 295    my $hexstr = shift;
> 296    my $oct;
> 297    my @octs;
> 298    $hexstr =~ s/"//g;
> 299    if (length($hexstr) == 4)
> 300    {
> 301      for $oct (split(//, $hexstr))
> 302      {
> 303        $octs[@octs] = ord($oct);
> 304      };
> 305    } else {
> 306      for $oct (split(/ /, $hexstr))
> 307      {
> 308        $octs[@octs] = hex($oct);
> 309      };
> 310    };
> 311 
> 312    return(join('.', @octs));
> 313 };
> ```
> 
> **check_keepalived_ipvs.pl**
> 
> ```
> 323 sub chk_ipvs_hex2inet($)
> 324 {
> 325    my $hexstr = shift;
> 326    my $oct;
> 327    my @octs;
> 328    $hexstr =~ s/"//g;
> 329    if (length($hexstr) == 4)
> 330    {
> 331      for $oct (split(//, $hexstr))
> 332      {
> 333        $octs[@octs] = ord($oct);
> 334      };
> 335    } else {
> 336      for $oct (split(/ /, $hexstr))
> 337      {
> 338        $octs[@octs] = hex($oct);
> 339      };
> 340    };
> 341 
> 342    return(join('.', @octs));
> 343 };
> ```



@mircoboschi Thank you for reporting to the Nagios people this and noting it here so that other keepalived users can be aware.

I have submitted a pull request at https://github.com/alaskacommunications/nagios_check_keepalived, but I doubt anything will happen since there haven't been any updates to the project for nearly 9 years.